$icomoon-font-path: "../../icomoon/fonts/";
@import "assets/icomoon/style.scss";
@import "node_modules/bootstrap/scss/variables";
$enable-flex: true;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$btn-primary-bg: darken(#21b7dc, 30);
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/normalize";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/buttons";
header {
    height: 60vh;
    background-image: url(../../images/header.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    ul{
        margin:0;
        padding:0;
        list-style-type: none;
    }
    li {
        position: relative;
        display: inline-block;
        height: 100%;
        background-position: center;
        background-size: cover;
        margin:0;
        padding:0;
        float: left;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(#000, .5) 0%, transparent 100%);
        }
    }
    p,h2{
        display: inline-block;
        position: relative;
        .line{
            position: absolute;
            left:0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
    }
    @include media-breakpoint-down(md){
        h2.display-1{
            font-size: 4rem;
        }
    }
    @include media-breakpoint-down(sm){
        h2.display-1{
            font-size: 3rem;
        }
    }
}

footer {
    background-color: darken(#21b7dc, 30);
}

.employees {
    
    .img {
        background-position: center;
        background-size: cover;
        margin: 1rem;
    }
    .desc {
        background-color: #21b7dc;
        padding: 20px;
        color: #fff;
    }
}
html:not(.is-touch-device){
    .employees {
        &:hover {
            .img {
                &:before {
                    background-color: rgba(#fff, .6);
                }
            }
        }
        .desc {
            position: absolute;
            margin: 0 -1rem;
            left: 0;
            right: 0;
            bottom:1rem;
            z-index:1;
            transform: perspective(450px) translate3d(0,50%,-100px) rotate3d(1,0,0,-90deg);
            transform-style: preserve-3d;
            transition: transform 350ms ease-out, opacity 350ms ease-out;
            transform-origin: center;
            pointer-events: none;
            opacity: 0;
            h5,
            p {
                opacity: 0;
                transition: opacity 350ms ease-in-out 200ms;
            }
        }
        @include media-breakpoint-down(sm){
            .desc {
                position: absolute;
                margin: 0 0.5rem;
            }
        }
        .img {
            &:before {
                content: '';
                position: absolute;
                background-color: rgba(#fff, 0);
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transition: background-color 350ms ease-in-out;
            }
        }
        .box-col{
            &:hover{
                .box{
                    +.desc {
                        pointer-events: all;
                        opacity: 1;
                        transform: perspective(450px) translate3d(0, 50px, 0) rotate3d(1, 0, 0, 0deg);
                        h5 {
                            opacity: 1;
                        }
                        p {
                            opacity: 1;
                        }
                    }
                    .img{
                        &:before {
                            background-color: rgba(#fff, 0);
                        }
                    }
                }
            }
        }
    }
    .box {
        position: relative;
        width: 100%;
        /* desired width */
        >div {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .box:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* initial ratio of 1:1*/
    }
}
.is-touch-device{
    .employees {
        .box{
            position: relative;
            min-height: 200px;
            z-index: 1;
            background-color: #fff;
            .img{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin-bottom: 0;
            }
        }
        .desc {
            position: relative;
            z-index: 2;
            min-height: 100px;
            margin-top: -1rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            color: #333;
            background-color: transparent;
            h5{
                &:first-of-type{
                    background-color: #21b7dc;
                    color: #fff;
                    padding: 0.3rem;
                    margin-left: -0.3rem;
                    margin-right: -0.3rem;
                }
            }
        }
    }
}
.form {
    background-color: #eee;
    h1 {
        color: #21b7dc;
    }
    p {
        color: #666;
    }
    .row {
        margin-top: 1rem;
        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }
    }
    .input-col {
        perspective-origin: center;
        transform: perspective(450px) translate3d(0, 0, 0);
        transform-style: preserve-3d;
    }
    input[type='text'],
    textarea {
        color: #333;
        position: relative;
        width: 100%;
        border: transparent;
        background-color: transparent;
        outline: none;
        appearance: none;
        z-index: 10;
        border-radius: 0;
        padding: 0.7rem;
        +label {
            background-color: rgba(#fff, 0.5);
            transition: background-color 200ms ease-in-out;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
            height: 100%;
            z-index: 1;
            margin: 0;
            i[class^="icon-"] {
                position: absolute;
                top: 0.6rem;
                right: 0.6rem;
                z-index: 2;
                font-size: 1.6rem;
                opacity: 1;
                transition: opacity 350ms ease-out, transform 350ms ease-out;
            }
            i.icon-times-outline {
                opacity: 0;
                transform: translate3d(50%, 0, 0);
                transition: opacity 350ms ease-out, transform 350ms ease-out;
            }
            &:after {
                content: "";
                position: absolute;
                background-color: rgba(#fff, 0);
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                transform: rotate3d(1, 0, 0, 90deg);
                transition: background-color 350ms ease-in-out 100ms, transform 350ms ease-out 200ms;
                transform-origin: bottom;
            }
            &:before {
                content: "";
                z-index: 1;
                position: absolute;
                background-color: rgba(#21b7dc, 1);
                height: 2px;
                width: 100%;
                bottom: 0;
                transform: translate3d(0, 0, 0) scaleY(1);
                transition: background-color 350ms ease-in-out, transform 350ms ease-out;
            }
            p.invalid {
                top: 100%;
                position: absolute;
                transform: translate3d(0, -20%, 0);
                transition: transform 350ms ease-out, opacity 350ms ease-out;
                opacity: 0;
                padding: 0.3rem 0.7rem;
                font-size: 0.6rem;
            }
            &.invalid {
                i[class^="icon-"] {
                    opacity: 0;
                    transform: translate3d(50%, 0, 0);
                }
                i.icon-times-outline {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
                &:before {
                    transform: translate3d(0, 0, 0) scaleY(1);
                    background-color: rgba($brand-danger, 1);
                }
                p.invalid {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
        &:focus {
            outline: none;
            +label {
                background-color: rgba(#fff, 0);
                i[class^="icon-"] {
                    opacity: 0;
                    transform: translate3d(0, 30%, 0);
                }
                &:after {
                    background-color: rgba(#fff, 1);
                    transform: rotate3d(1, 0, 0, 0deg);
                }
                &:before {
                    transform: translate3d(0, 2px, 0) scaleY(0);
                }
                &.invalid {
                    &:before {
                        transform: translate3d(0, 0, 0) scaleY(1);
                        background-color: rgba($brand-danger, 1);
                    }
                }
            }
        }
    }
}

.btn{
    transition: background-color 350ms ease-out, color 350ms ease-out;
}

